@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.header {
  background-color: rgba(241, 232, 232, 0.594);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  flex-direction: row;
  height: 10%;
  width: 100%;
}

.header h4 {
  display: flex;
  position: relative;
  font-family: inherit;
  font-size: 25px;
  max-height: 100%;
  max-width: 100%;
  top: 10%;
  left: 0;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  font-family: inherit;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  right: 0;
  top: 10%;
  margin-left: 50px;
}

.header-list li {
  margin-left: 10px;
}
.header-list li:first-child {
  font-weight: bold;
}
.header-list li a {
  list-style-type: none;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  transition: background-color 0.6s ease;
  transition: color 0.6s ease;
}
.header-list li a:hover {
  background-color: rgba(0, 0, 0, 0.372);
  color: #fff;
  transition: background-color 0.6s ease;
  transition: color 0.6s ease;
}

.fa-regular.fa-circle {
  color: rgb(31, 171, 31);
  background-color: rgba(241, 232, 232, 0.594);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: linear-gradient(90deg, #fff 50%, rgb(11, 176, 11) 50%);
  transform: rotate(0deg);
  transition: transform 0.6s ease;
}
.fa-regular.fa-circle:hover {
  transform: rotate(180deg);
  transition: transform 0.6s ease;
}

.header-list button {
  height: 100%;
  width: 100%;
  border-radius: 12%;
  color: #000;
  background-color: #fff;
  border: none;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}
.header-list button:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.sign-out.active {
  background-color: rgb(31, 171, 31);
  color: #fff;
}

/*/////////////////////MAIN////////////////////////////////*/

.main {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  font-family: inherit;
}
.main.bg {
  z-index: -1;
  filter: blur(opx);
}

.content-primary {
  background-color: rgba(241, 232, 232, 0.594);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 50%;
  padding-top: 20px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.562);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-end-start-radius: 30%;
  border-end-end-radius: 30%;
}

.p-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  max-height: 60%;
  font-family: inherit;
  margin-top: 30px;
}

.p1,
.p2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 40%;
  height: auto;
}

.p1 a {
  list-style-type: none;
  text-decoration: none;
  color: #000;
  margin-left: 10px;
}
.p1 h1 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.p1 p {
  font-size: 12px;
  letter-spacing: 1px;
  margin-left: 10px;
}
.p2 {
  border-radius: 20px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  margin-left: 40px;
}

.lnk {
  margin-top: 10px;
  max-width: 100%;
  max-height: 20%;
}

.lnk .get-started {
  color: rgb(25, 108, 25);
  font-weight: bold;
  height: 100%;
  width: 50%;
  cursor: pointer;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
}

.lnk .get-started.active {
  background-color: rgb(20, 114, 20);
  color: #fff;
}

.lnk .watch {
  height: 100%;
  width: 50%;
  color: rgb(20, 114, 20);
  text-decoration: underline;
  font-size: 14px;
}

.content-fotter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  max-width: 100%;
  max-height: 40%;
  padding: 30px;
}
.content-fotter h3 {
  text-align: center;
}

.content-fotter ul {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  list-style-type: none;
  padding: 20px;
  margin-top: 30px;
}
.content-fotter li {
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
}
.content-fotter ul li a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(92, 37, 37, 0.521);
}
.content-fotter ul a h4 {
  margin-bottom: 10px;
  font-size: 14px;
}
.content-fotter h4:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
.content-fotter ul li p {
  font-size: 10px;
  letter-spacing: 1px;
  max-width: 75%;
}
.content-fotter ul li a i {
  display: flex;
  margin-bottom: 20px;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
}
.fa-solid.fa-arrow-pointer {
  background-color: rgb(20, 114, 20);
  color: #fff;
  border-radius: 30%;
}
.fa-solid.fa-arrow-pointer:hover,
.fa-solid.fa-feather-pointed:hover,
.fa-solid.fa-heart:hover,
.fa-solid.fa-hourglass:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.fa-solid.fa-feather-pointed {
  background-color: blueviolet;
  color: #fff;
  border-radius: 30%;
}

.fa-solid.fa-heart {
  background-color: blue;
  color: #fff;
  border-radius: 30%;
}
.fa-solid.fa-hourglass {
  background-color: rgb(1, 96, 1);
  color: #fff;
  border-radius: 30%;
}

.sign-up-now {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  height: 30px;
  width: 100px;
  background-color: rgb(1, 96, 1);
  color: #fff;
  border-radius: 4px;
  border: none;
  margin: 10px 0 5px 0;
  box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.144);
}
.sign-up-now:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.content-secondary {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  height: 50%;
  background-color: #fff;
  margin-top: 30px;
}

.secondary-content1,
.secondary-content2,
.secondary-content3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: inherit;
  justify-content: center;
  max-width: 90%;
  max-height: 100%;
  top: 0;
  left: 0;
}
.secondary-content1 p,
.secondary-content2 p,
.secondary-content3 p {
  font-size: 14px;
  line-height: 2;
}

.cnt1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 10px;
}
.cnt-book {
  display: flex;
  width: 50%;
  height: 100%;
  padding: 10px;
}
.cnt-laptop {
  display: flex;
  width: 50%;
  height: 100%;
  padding: 10px;
}
.cnt-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 30px;
}
.cnt-2 ul li {
  list-style-type: none;
}
.cnt-2 ul li p i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.cnt-e {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 10px;
}
.cnt-tablet {
  display: flex;
  width: 50%;
  height: 100%;
  padding: 10px;
}
.third-content {
  background-color: rgba(241, 232, 232, 0.594);
  display: flex;
  font-family: inherit;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid transparent;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.562);
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  border-start-start-radius: 20%;
  border-start-end-radius: 20%;
}

.thirdcnt-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: inherit;
}
.thirdcnt-head p {
  padding: 20px;
  width: 65%;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: bold;
}
.ppl {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
}
.ppl-first-row,
.ppl-second-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  padding: 20px;
  text-align: center;
}
.ppl-first-row p,
.ppl-second-row p {
  padding: 0;
  box-shadow: 5px 0 5px 0 rgba(144, 62, 62, 0.511);
}

.person {
  display: flex;
  width: 100px;
  height: 50px;
  margin: 15px;
}
.person img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  height: 30px;
  width: 100px;
  background-color: rgb(1, 96, 1);
  color: #fff;
  border-radius: 4px;
  border: none;
  margin: 10px 0 5px 0;
  box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.144);
}

.contact-btn:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.boxes-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 300px;
  margin-top: 30px;
}
.box {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 250px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.34);
  box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.046);
}
.img-cont img {
  width: 90%;
  height: 150px;
}
.text {
  width: 100%;
  font-size: 12px;
  font-family: inherit;
}
.my-circle {
  display: flex;
  flex-direction: row;
  width: 20px;
  height: 20px;
}
.my-circle div {
  width: 100%;
  height: 100%;
  background-color: rgb(210, 174, 174);
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
}
.my-circle div:nth-child(2) {
  background-color: rgb(1, 96, 1);
}

.price-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: inherit;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding: 10px;
}

.table {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
.table strong {
  font-size: 25px;
  color: rgb(1, 96, 1);
}

.free,
.standard,
.premium {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.34);
  box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.046);
}
.standard,
.standard strong {
  background-color: rgb(1, 96, 1);
  color: #fff;
}
.standard .btn-order-now {
  background-color: #fff;
  color: rgb(1, 96, 1);
}

.free ul,
.standard ul,
.premium ul {
  list-style-type: none;
  margin-top: 10px;
  padding: 10px;
}
.free ul li,
.standard ul li,
.premium ul li {
  line-height: 20px;
  font-size: 14px;
}

.descr {
  font-size: 12px;
  margin: 10px 0 10px 0;
}

.btn-order-now {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 10%;
  position: absolute;
  bottom: 10px;
  background-color: rgb(1, 96, 1);
  color: #fff;
  border-radius: 5px;
  border: none;
}
.btn-order-now:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.client-say {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
.client-say h3 {
  margin: 15px;
}
.client-say p {
  font-size: 12px;
}
.say {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  max-width: 300px;
  max-height: 300px;
  border-radius: 1px;
  border: 1px solid transparent;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.326);
}
.say-cnt {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.star {
  display: flex;
  flex-direction: row;
  margin: 10px;
  color: rgba(255, 255, 0, 0.817);
}
.designer {
  display: flex;
  width: 100%;
  height: 20%;
  padding: 10px;
  margin-top: 10px;
}

.designer img {
  width: 60px;
  height: 60px;
  border-radius: 60px;
}

.join {
  display: flex;
  position: relative;
  width: 450px;
  height: 200px;
  background-color: rgb(1, 96, 1);
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  margin: 20px;
  left: 20%;
}

.get-this {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: 100%;
  text-align: center;
}
.get-this h4 {
  font-size: 14px;
  padding: 10px;
}

.btn-get {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  color: rgb(1, 96, 1);
  margin: 40px;
}
.btn-get:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
.get-svg {
  display: flex;
  width: 50%;
  height: 100%;
  padding: 10px;
}
.get-svg img {
  display: flex;
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 3px 3px rgba(21, 1, 1, 0.393);
}

.footer {
  display: flex;
  flex-direction: row;
  font-family: inherit;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 100%;
  height: 100%;
  background-color: rgba(241, 232, 232, 0.594);
  padding: 50px;
}
.prd {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 50px;
}
.socials {
  color: green;
  margin: 10px;
}
.socials i {
  margin: 5px;
}
.socials i:hover {
  cursor: pointer;
}

.rsr {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  padding: 10px;
}
.rsr ul,
.lgl ul {
  list-style-type: none;
  line-height: 20px;
  cursor: pointer;
  font-family: inherit;
  font-size: 12px;
}

.rsr ul li:hover,
.lgl ul li:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.lgl {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  padding: 10px;
}
.inp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-left: 30px;
}
.inp p {
  margin: 20px;
}

.sgn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 30px;
  width: 100px;
  background-color: rgb(1, 96, 1);
  color: #fff;
  border-radius: 4px;
  border: none;
  margin: 10px 0 5px 0;
  box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.144);
}
.sgn:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
