@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Poppins", sans-serif;
  flex-direction: row;
  max-height: 80px;
  max-width: 1400px;
  margin: 40px;
}
.p-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 30%;
  margin-right: 40px;
}
.the-P {
  max-width: 40px;
  max-height: 36px;
  margin: 20px;
}

.p-header h4 {
  max-width: 122px;
  max-height: 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  color: #173a56;
}

.header-list {
  display: flex;
  max-width: 379px;
  height: 100%;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.header-list p:first-child {
  font-weight: bold;
}
.header-list p {
  list-style-type: none;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
}
.header-btns {
  display: flex;
  flex-direction: row;
  max-width: 220px;
  height: 43px;
  align-items: center;
  justify-content: center;
}

.fa-circle {
  max-height: 32px;
  max-width: 32px;
}

.sign-in {
  align-items: center;
  justify-content: center;
  max-width: 102px;
  height: 43px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173a56;
  background-color: #fff;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  margin: 10px;
}

.sign-up {
  align-items: center;
  justify-content: center;
  max-width: 110px;
  height: 43px;
  background-color: #02897a;
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  margin: 10px;
}

/*/////////////////////MAIN////////////////////////////////*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.main.bg {
  z-index: -1;
  filter: blur(opx);
}

.content-primary {
  background-image: url(img/Bg.png);
  background-position: center center;
  background-color: #fff;
  background-size: cover;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 50%;
  padding-top: 20px;
}

.p-container {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  max-height: 60%;
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
  margin-left: 30px;
}

.p1,
.p2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 50%;
  height: auto;
}

.p1 h1 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.p1 p {
  font-size: 18px;
  letter-spacing: 1px;
  margin-left: 10px;
  line-height: 28px;
}

.lnk {
  display: flex;
  margin-top: 40px;
  max-width: 70%;
  max-height: 20%;
}

.get-started {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53px;
  width: 175px;
  left: 159px;
  top: 503px;
  cursor: pointer;
  background-color: #02897a;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
}

.watch {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  height: 53px;
  width: 200px;
  background-color: #fff;
  cursor: pointer;
  border: none;
}
.triangle-watch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
  padding: 10px;
}
.text-watch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90%;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #02897a;
  text-decoration-line: underline;
}

.content-fotter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  max-width: 100%;
  max-height: 40%;
  padding: 30px;
}
.content-fotter h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #22343d;
}

.content-fotter ul {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  list-style-type: none;
  padding: 20px;
  margin-top: 30px;
}
.content-fotter li {
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
}
.content-fotter ul li a {
  text-decoration: none;
  color: rgba(92, 37, 37, 0.521);
}
.content-fotter ul a h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #22343d;
}
.content-fotter ul li p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}
.content-fotter ul li a i {
  display: flex;
  margin-bottom: 20px;
  height: 50px;
  width: 51px;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.fa-solid.fa-arrow-pointer {
  background-color: #02897a;
  color: #fff;
  border-radius: 19px;
}

.fa-solid.fa-feather-pointed {
  background-color: #4d8dff;
  color: #fff;
  border-radius: 19px;
}

.fa-solid.fa-heart {
  background-color: #740a76;
  color: #fff;
  border-radius: 19px;
}
.fa-solid.fa-hourglass {
  background-color: #f03e3d;
  color: #fff;
  border-radius: 19px;
}

.sign-up-now {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  height: 53px;
  width: 175px;
  background-color: #02897a;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin: 10px 0 5px 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.content-secondary {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  height: 50%;
  background-color: #fff;
  margin-top: 30px;
  margin-left: 30px;
}

.secondary-content1,
.secondary-content2,
.secondary-content3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: inherit;
  justify-content: center;
  max-width: 90%;
  max-height: 100%;
  top: 0;
  left: 0;
}
.secondary-content1 ul,
.secondary-content2 ul,
.secondary-content3 ul {
  list-style-type: none;
}
.secondary-content1 img,
.secondary-content2 img,
.secondary-content3 img {
  width: 100%;
  height: auto;
}

.secondary-content1 p,
.secondary-content2 p,
.secondary-content3 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}
.cnt1-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343d;
}
.cnt1-title strong {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #22343d;
}

.cnt1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 10px;
}
.cnt-book {
  display: flex;
  width: 50%;
  height: 100%;
  padding: 10px;
}
.cnt-laptop {
  display: flex;
  width: 50vw;
  height: 100%;
}
.cnt-2 {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100%;
  margin-left: 40px;
}
.cnt-2 img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.cnt-2 ul {
  margin-top: 15px;
}
.cnt-2 ul li {
  line-height: 20px;
  margin: 10px;
}

.cnt-e {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 10px;
}
.cnt-tablet {
  display: flex;
  width: 50%;
  height: 100%;
  padding: 10px;
}
.third-content {
  background-image: url(img/Bg-2.png);
  background-position: center center;
  background-size: cover;
  display: flex;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
}

.thirdcnt-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.thirdcnt-head h3 {
  font-size: 32px;
  font-weight: bold;
}
.thirdcnt-head p {
  padding: 20px;
  width: 65%;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
  font-weight: 500;
}
.ppl {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
}
.ppl-first-row,
.ppl-second-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  padding: 20px;
  text-align: center;
}
.txt-1 {
  display: flex;
  width: 60%;
  height: 50%;
}

.person {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 15px;
}
.ppl-person-p {
  display: flex;
  align-items: center;
  margin: 20px;
}
.person img {
  width: 100%;
  height: 100%;
}
.contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  height: 30px;
  width: 100px;
  border: none;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 70px;
}
.carousel h4 {
  padding: 10px;
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343d;
}
.carousel p {
  padding: 10px;
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}

.boxes-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
.box {
  display: flex;
  flex-direction: column;
  max-width: 348px;
  height: 359px;
  border: 1px solid #dedede;
  border-radius: 8px;
  margin: 5px;
}
.img-cont {
  display: flex;
  max-width: 348px;
  height: 185px;
}
.img-cont img {
  width: 100%;
  height: 100%;
}
.text p {
  display: flex;
  max-width: 235px;
  max-height: 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.text h3 {
  display: flex;
  max-width: 294px;
  max-height: 70px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
}
.mtv {
  color: #02897a;
}
.circle-container {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.my-circle {
  display: flex;
  flex-direction: row;
  width: 16px;
  height: 16px;
}
.my-circle div {
  width: 100%;
  height: 100%;
  background-color: #efefef;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
}
.my-circle div:nth-child(2) {
  background-color: #02897a;
}

.price-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding: 10px;
}
.price-table h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343d;
}
.price-table p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #22343d;
}

.table {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
.text-sign {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #afafaf;
}
.number-sign {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 76px;
  line-height: 100px;
  color: #02897a;
}
.dollar-sign {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #02897a;
}

.free,
.standard,
.premium {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px;
  margin: 10px;
  width: 322px;
  height: 456px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.free h2,
.standard h2,
.premium h2 {
  color: #22343d;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}
.standard,
.standard strong,
.standard .text-sign {
  background-color: #02897a;
  color: #fff;
}
.standard ul li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  padding: 10px;
  color: #fff;
}
.standard .btn-order-now {
  background-color: #fff;
  color: #02897a;
}

.free ul,
.standard ul,
.premium ul {
  list-style-type: none;
  margin-top: 10px;
  padding: 10px;
}
.free ul li,
.premium ul li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #22343d;
  padding: 10px;
}

.descr {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #22343d;
}

.btn-order-now {
  width: 139px;
  height: 44px;
  left: calc(50% - 139px / 2 - 0.82px);
  top: calc(50% - 44px / 2 + 174px);
  background: #02897a;
  border-radius: 8px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.client-say {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  margin-top: 50px;
}
.client-say h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #22343d;
}
.client-say p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #22343d;
}
.say-cnt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
}
.say {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 5px;
  margin: 10px;
}
.say p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  text-align: justify;
  padding: 10px;
}
.say-1 {
  display: flex;
  padding: 10px;
  width: 100%;
}
.designer-1 {
  width: 106.4px;
  height: 18.35px;
}
.say-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.say-2 img {
  width: 50px;
  height: 50px;
}

.say-texts {
  width: 30%;
  height: 100%;
}
.say-texts .say-p1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #02897a;
}
.say-texts .say-p2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252b42;
}
.join-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.join {
  display: flex;
  width: 70%;
  height: 100%;
  background: #02897a;
  border-radius: 32px;
}

.get-this {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: 100%;
  text-align: center;
}
.get-this h4 {
  display: flex;
  padding: 10px;
  width: 100%;
  height: 40%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 151.4%;
  color: #ffffff;
}

.btn-get {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  background: #ffffff;
  border-radius: 8px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #02897a;
  margin: 20px;
}

.get-svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.svg-container {
  display: flex;
  background: url(./img/screen.png);
  width: 70%;
  height: 280px;
  filter: drop-shadow(0px 0px 32px rgba(0, 0, 0, 0.15));
  border-radius: 5px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1109px;
  height: 246px;
  margin: 40px;
  padding: 20px;
}
.prd {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  max-width: 162px;
  height: 94px;
  padding: 10px;
}
.prd-p {
  display: flex;
  flex-direction: row;
  height: 60%;
  max-width: 162px;
}
.prd-img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 32px;
  height: 29px;
}
.prd-p h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 114px;
  height: 21px;
  padding-left: 10px;
}
.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #02897a;
  max-width: 100%;
  height: 30%;
}
.socials i {
  margin: 15px;
}

.rsr {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 205px;
  padding: 10px;
}
.rsr strong,
.lgl strong,
.inp strong {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #22343d;
}
.rsr ul,
.lgl ul {
  list-style-type: none;
  line-height: 20px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  height: 100%;
  width: 100%;
}
.rsr ul li,
.lgl ul li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #22343d;
}

.lgl {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 205px;
  padding: 10px;
}
.inp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: justify;
  max-width: 100%;
  height: 199px;
  padding: 10px;
}
.inp p {
  max-width: 325px;
  margin-bottom: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #22343d;
}
.inp label {
  max-width: 325px;
  height: 48px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
  background: #ffffff;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}
.inp label input {
  font-family: "ProximaNova";
  font-size: 16px;
  line-height: 28px;
  color: #bcd0e5;
  border: none;
}

.sgn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 131px;
  height: 39px;
  background: #02897a;
  border-radius: 4px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
}

@media screen and (min-width: 600px) {
  .header-mobile {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header,
  .my-circle {
    display: none;
  }
  .header-mobile {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    background-color: rgba(202, 163, 163, 0.135);
  }
  .header-mobile-tag {
    display: flex;
    width: 60%;
    height: 100%;
    margin-left: 20px;
  }
  .header-mobile-tag img {
    width: 50%;
    height: 50%;
  }
  .header-mobile-bars {
    display: flex;
    width: 50%;
    height: 100%;
    right: 0;
    margin-left: 50%;
  }

  .header-mobile h4 {
    display: flex;
    width: 50%;
    height: 100%;
    margin-right: 15%;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
  }
  .main {
    display: flex;
    flex-direction: column;
  }

  .p-container,
  .boxes-container,
  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content-fotter {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content-fotter ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .content-fotter ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer,
  .say-cnt {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rsr,
  .lgl {
    margin: 10px;
  }
  .join {
    display: flex;
    max-width: 80vw;
    max-height: 30vh;
  }
  .get-this h4 {
    font-size: 12px;
  }
  .say-cnt {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
  }
  .say {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
  }
  .ppl-first-row,
  .ppl-second-row {
    display: flex;
    flex-direction: column;
  }
}
